// 阿里在线字体图标
@import '//at.alicdn.com/t/c/font_4650765_z2o0ezc36ng.css';
// 主题相关配置
@import 'theme';
@import 'mixins';
@import 'global';

#app {
    width: 100vw;
    height: 100vh;
    color: var(--mk-text-color);
    /* 防止内容溢出 */
    overflow: hidden;
    background-color: var(--mk-bg-color);
}

