/* 阿里字体图标  用了一个字体图标*/
@import '//at.alicdn.com/t/c/font_4650765_z2o0ezc36ng.css';

#app {
	width: 100vw; /* 视口宽度 */
	height: 100vh; /* 视口高度 */
	overflow: hidden; /* 防止内容溢出 */
}


:root {
    --mk-sidebar-width: 160px;
}